$default-font: lato;
$pink: #FF3F52;
$text: #333;
$gray: #E0E2EA;

$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1260px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
